@font-face {
	font-family: "Linux Libertine";
	font-weight: 400;
	font-style: normal;
	src: url("../LinLibertine_R.ttf") format("truetype");
}

a {color: #0645ad !important;}

footer {
	height: 100px;
}

#p-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resumedia-logo {
	width: 76%;
	margin-top: 9px;
}


.infobox-image {
	text-align: center !important;
}
.infobox-image img {
	width: 220px;
	margin: 0 auto;
}

.infobox-above {
	background: #b0c4de;
	color: black;
}
.name-header {
	font-size: 15.4px;
}
.background-info-header {
	font-size: 12.32px;
}

.skills-container {
	display: flex;
	width: 100%;
}
.skills-container div + div {margin-left: 150px;}