@font-face {
	font-family: "Linux Libertine";
	font-weight: 400;
	font-style: normal;
	src: url("../LinLibertine_R.ttf") format("truetype");
}

a {color: #0645ad !important;}

footer {
	height: 100px;
}

#p-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resumedia-logo {
	width: 76%;
	margin-top: 9px;
}


.infobox-image {
	text-align: center !important;
}
.infobox-image img {
	width: 220px;
	margin: 0 auto;
}

.infobox-above {
	background: #b0c4de;
	color: black;
}
.name-header {
	font-size: 15.4px;
}
.background-info-header {
	font-size: 12.32px;
}

.skills-container {
	display: flex;
	width: 100%;
}
.skills-container div + div {margin-left: 150px;}



/* Right side */
.right-side {
	padding-top: 40px;
	margin-left: 8px;
}

.action-btn-container {
	display: flex;
	height: 40px;
	width: 100%;
	margin-bottom: -1px;
}

.action-btn-divider {
	height: 100%;
	width: 1px;
	background: linear-gradient(to bottom, transparent 0, #a7d7f9 100%);
}

.action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	line-height: 1.125em;
	padding-left: 8px;
	padding-right: 7px;
	padding-top: 10px;
	border-bottom: 1px solid #a7d7f9;
	background: linear-gradient(to bottom, transparent 0, #e8f2f8 100%);
	color: #0645ad;
	box-sizing: border-box;
}
.action-btn.selected {
	border-bottom: 0;
	padding-top: 9px;
	background: linear-gradient(to bottom, transparent 0, white 100%);;
	color: black;
}

.nav-spacer {
	flex-grow: 1;
}

.star-btn {
	width: 28px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
}