@font-face {
	font-family: "Linux Libertine";
	font-weight: 400;
	font-style: normal;
	src: url("../LinLibertine_R.ttf") format("truetype");
}

a {color: #0645ad !important;}

footer {
	height: 100px;
}

#p-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resumedia-logo {
	width: 76%;
	margin-top: 9px;
}


.infobox-image {
	text-align: center !important;
}
.infobox-image img {
	width: 220px;
	margin: 0 auto;
}

.infobox-above {
	background: #b0c4de;
	color: black;
}
.name-header {
	font-size: 15.4px;
}
.background-info-header {
	font-size: 12.32px;
}




/* Left side */
.left-side {
	font-size: inherit;
	padding: 0 8px;
}

.left-side nav:first-child {background-image: none;}

.left-side nav:first-child .vector-menu-heading {
	display: none;
}

.left-side nav:first-child .vector-menu-content {
	margin-left: 0.5em;
}

.left-side .vector-menu-portal {
	margin: 0 0.6em 0 0.7em;
	padding: 0.25em 0;
	direction: ltr;
}

.left-side .vector-menu-portal .vector-menu-heading {
	display: block;
	color: #54595d;
	margin: 0.5em 0 0 0.66666667em;
	border: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	font-weight: normal;
	cursor: default;
	background-image: linear-gradient(to right, rgba(200, 204, 209, 0)0, #c8ccd1 33%, #c8ccd1 66%, rgba(200, 204, 209, 0) 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px
}

.left-side .vector-menu-portal .vector-menu-content {
	margin-left: 0.5em;
	padding-top: 0
}

.left-side .vector-menu-portal .vector-menu-content ul {
	list-style: none;
	margin: 0;
	padding-top: 0.3em
}

.left-side .vector-menu-portal .vector-menu-content li {
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	line-height: 1.125em;
	word-wrap: break-word
}

.left-side .vector-menu-portal .vector-menu-content li a {
	color: #0645ad
}

.left-side .vector-menu-portal .vector-menu-content li a:visited {
	color: #0b0080
}



/* Right side */
.right-side {
	padding-top: 40px;
}

.action-btn-container {
	display: flex;
	height: 40px;
	width: 100%;
	margin-bottom: -1px;
}

.action-btn-divider {
	height: 100%;
	width: 1px;
	background-image: linear-gradient(#f6f6f6 0, #a7d7f9 100%);
	background-image: -webkit-linear-gradient(#f6f6f6 0, #a7d7f9 100%);
}

.action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	line-height: 1.125em;
	padding-left: 8px;
	padding-right: 7px;
	padding-top: 10px;
	border-bottom: 1px solid #a7d7f9;
	background-image: linear-gradient(#f6f6f6 0, #e8f2f8 100%);
	background-image: -webkit-linear-gradient(#f6f6f6 0, #e8f2f8 100%);
	color: #0645ad;
	box-sizing: border-box;
}
.action-btn.selected {
	border-bottom: 0;
	padding-top: 9px;
	background-image: linear-gradient(#f6f6f6 0, white 100%);
	background-image: -webkit-linear-gradient(#f6f6f6 0, white 100%);
	color: black;
}

.nav-spacer {
	flex-grow: 1;
}

.star-btn {
	width: 28px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
}

.mw-body {
	height: 100% !important;
	border-bottom: 0 !important;
}

.work-list li + li {
	margin-top: 10px;
}

.skills-container {
	display: flex;
	width: 100%;
}
.skills-container div + div {margin-left: 100px;}

.programming-list {
	columns: 2;
}